<!doctype html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <title>개발자 북취향</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <!-- bootstrap -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/js/color-modes.js"></script>

    <!-- jquery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- CHOICES CSS -->
    <link type="text/css" href="/assets/styles/choices.min.css" rel="stylesheet">
    <script src="/assets/js/choices.min.js"></script>

    <!-- custom -->
    <link href="/assets/font/font.css" rel="stylesheet">
    <link href="/assets/styles/index.css" rel="stylesheet">
    <link href="/assets/styles/app.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/bootstrap-icons.css" />

    <script type="text/javascript">

        $(function () {

            let loadFile = function (event) {
                var reader = new FileReader();
                reader.onload = function () {
                    var output = document.getElementById('profile-img');
                    if (event.target.files[0].type.match('image.*')) {
                        output.src = reader.result;
                    } else {
                        event.target.value = '';
                        alert('please select a valid image');
                    }
                };
                if (event.target.files[0]) {
                    reader.readAsDataURL(event.target.files[0]);
                }

            };

            /* Choices JS */
            var choices = new Choices('#language', {
                allowSearch: false,
                removeItemButton: true,

            }).setValue([]);

            // for profile photo update
            let ProfileChange = document.querySelector('#profile-change');
            ProfileChange.addEventListener('change', loadFile);

        });

    </script>
</head>

<body>

    <div id="header"></div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            <path
                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
            <path
                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </symbol>
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#circle-half"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em">
                        <use href="#sun-fill"></use>
                    </svg>
                    Light
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    aria-pressed="false">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em">
                        <use href="#moon-stars-fill"></use>
                    </svg>
                    Dark
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                    aria-pressed="true">
                    <svg class="bi me-2 opacity-50" width="1em" height="1em">
                        <use href="#circle-half"></use>
                    </svg>
                    Auto
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="10" />
            <path
                d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
        </symbol>
        <symbol id="cart" viewBox="0 0 16 16">
            <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
        <symbol id="chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </symbol>
    </svg>

    <div class="container">
        <header class="lh-1">
            {{ template "header.html" .}}
        </header>


        <main class="container">

            <div class="row g-5 mb-5">
                <div class="col-md-5 col-lg-4">
                    <h4 class="fw-semibold mb-3">내 계정 </h4>
                    <hr class="my-3">
                    <nav
                        class="nav nav-pills justify-content-center flex-lg-column justify-content-lg-start gap-1 sidebar-nav">
                        <a class="nav-link d-flex align-items-center active fw-semibold"
                            href="/account/profile-edit">프로필</a>
                        <a class="nav-link d-flex align-items-center" href="/account/profile-setting">계정 관리</a>
                    </nav>
                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="fw-semibold mb-3">회원정보</h4>
                    <hr class="my-3">
                    <form class="needs-validation" novalidate="">
                        <div class="row g-3 mb-3">
                            <div class="col-12 col-lg-3">
                                <div class="user-image">
                                    <div class="profile mb-3">
                                        <img src="/assets/images/profile.png" alt="profile image" id="profile-img" />
                                    </div>
                                    <!-- <a class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center">
                                        <input type="file" name="photo" class="position-absolute w-100 h-100 op-0"
                                            id="profile-change">변경
                                    </a> -->
                                </div>
                            </div>
                            <div class="col-12 col-lg-9">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="" class="form-label">아이디</label>
                                        <input type="text" class="form-control-plaintext" id="user_id"
                                            value="{{ .user.UserId }}" readonly>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="col-12">
                                        <label for="" class="form-label">이름</label>
                                        <input type="text" class="form-control" id="user_name" placeholder=""
                                            value="{{ .user.Username}}" required="" />
                                        <div class="invalid-feedback">이름을 입력해 주세요.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="" class="form-label">대표 직군</label>
                                <select class="form-select" id="" required="">
                                    <option value="-1">직군을 선택해주세요.</option>
                                    <option value="1">개발</option>
                                    <option value="2">기획</option>
                                    <option value="3">디자인</option>
                                    <option value="4">마케팅</option>
                                    <option value="5">기타</option>
                                </select>
                                <div class="invalid-feedback">대표직군을 입력해 주세요.</div>
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">대표 직무</label>
                                <select class="form-select" id="country" required="">
                                    <option value="-1">직무를 선택해주세요.</option>
                                    <option value="1">백엔드개발</option>
                                    <option value="2">프론트엔드개발</option>
                                    <option value="3">모바일개발</option>
                                    <option value="4">풀스택개발</option>
                                    <option value="5">임베디드개발</option>
                                    <option value="6">PC어플리케이션개발</option>
                                    <option value="7">DBA</option>
                                    <option value="8">TA</option>
                                    <option value="9">AA</option>
                                    <option value="10">기타개발</option>
                                    <option value="11">퍼블리셔</option>
                                    <option value="12">QA</option>
                                </select>
                                <div class="invalid-feedback">대표직무를 입력해 주세요.</div>
                            </div> -->
                        <div class="col-12 mb-3">
                            <label for="userEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="userEmail" value="{{ .user.Email }}"
                                placeholder="" readonly>
                            <div class="invalid-feedback">Email를 입력해 주세요.</div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="userPhone" class="form-label">전화번호</label>
                            <input type="tel" class="form-control" id="userPhone" value="" placeholder="" readonly>
                            <div class="invalid-feedback">전화번호를 입력해 주세요.</div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <label for="address" class="form-label">한줄소개</label>
                                <div>
                                    <span class="small text-secondary">0/150</span>
                                </div>
                            </div>
                            <textarea class="form-control" id="user_text" rows="5">{{ .userInfo.UserText }}</textarea>
                            <div class="invalid-feedback">한줄소개를 입력해 주세요.</div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="" class="form-label">회사명</label>
                            <input type="text" class="form-control" id="user_company" placeholder="" value=""
                                required="" />
                            <div class="invalid-feedback">회사명을 입력해 주세요.</div>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Social Link</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text" id="" style="min-width: 100px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-link-45deg" viewBox="0 0 16 16">
                                        <path
                                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                                        <path
                                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                                    </svg>
                                    github
                                </span>
                                <input type="text" class="form-control" placeholder="github url" id="github_url"
                                    value="" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="" style="min-width: 100px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-link-45deg" viewBox="0 0 16 16">
                                        <path
                                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                                        <path
                                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                                    </svg>
                                    blog
                                </span>
                                <input type="text" class="form-control" placeholder="blog url" value="" id="blog_url" />
                            </div>
                            <div class="invalid-feedback">링크를 입력해 주세요.</div>
                            {{ .end }}
                        </div>
                </div>

                <hr class="my-4">

                <button type="button" id="profile_update_btn" class="btn btn-primary">
                    수정하기
                </button>
                <button class="btn btn-secondary" type="submit">취소</button>
                </form>
            </div>
    </div>

    </main>

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        {{ template "footer.html" .}}
    </footer>
    <script src="/assets/js/profile.js"></script>
</body>

</html>