<!doctype html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <title>개 북 취</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <!-- bootstrap -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/js/color-modes.js"></script>

    <!-- jquery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- CHOICES CSS -->
    <link type="text/css" href="/assets/styles/choices.min.css" rel="stylesheet">
    <script src="/assets/js/choices.min.js"></script>

    <!-- custom -->
    <link href="/assets/font/font.css" rel="stylesheet">
    <link href="/assets/styles/index.css" rel="stylesheet">
    <link href="/assets/styles/app.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/bootstrap-icons.css" />
</head>